@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
	margin:0px;
	padding: 0px;
}
:root{
	--main-color:#9acc14;
	--main-font:'Open Sans', sans-serif;
}
body{
	background: black;
	color: white;
}

.logo{
	width: 60px;
	height: 50px;
	background: url('./icon.png');
	background-size: contain;
	background-repeat: no-repeat;

	margin:5px 0px 0px 5px;
}	
.logoname{
	font-family: var(--main-font);
	text-align: center;
	align-items: center;
	font-size:25px;
	font-weight: bold;
	margin:12px 10px 0px 0px;	
}
.the{
	font-weight: normal;
}
.pipe{
	width: 4.3px; 
	height: 50px;
	background: white;

	margin-top: 5px;
}
.links{
	display: flex;
	justify-content:space-between;
	align-items: center;
	flex-flow: row nowrap;
}
.links a{
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	color: white;
	font-family: var(--main-font);
	padding: 15px 16px;
}
.links a:hover{
	background: rgba(154, 204, 20, .75);
  	color: black;
}


.navbar {
	display: flex;
	overflow: hidden;
	background-color: transparent;
	/*background-color: red;*/
	/*position: fixed; */
	width: 100%; 
	height: 60px;
}

/* Main content */
.main {
	color: white;
	text-align: center;
	margin-top: 60px; /* Add a top margin to avoid content overlay */
}








.container{
	margin-top:70px;
	height: calc(100vh - 60px);

	display: flex;
	justify-content:center;
	align-items: center;
	flex-flow: row nowrap;
}
.split {
	display: flex;
	justify-content:center;
	align-items: center;
	flex-flow: column wrap;

	height: 100%;
	width: 50%;

	align-self: center;
	padding: 70px;

	font-family: var(--main-font);
	font-weight: bold;

	font-size:15px;

	text-align:center;
}
.split img{
	width: 250px;
	height: 250px;
	margin-bottom:50px; 
	border-radius:50%;
}
.split-left{
	background-color: white;
	color: black;	
}
.split-right{
	background-color: black;
}